<template>
  <div class="my-photos">
    <h1>{{ title }}</h1>
    <div class="row" v-for="(photo) in photos" :key="photo.photoId">
      <div class="col-md-6 offset-md-3">
        <h2>{{ photo.photoTitle }}</h2>
        <img :src="photo.image" class="img-fluid">
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'home',
  data() {
    return {
      title: 'My photos',
      photos: [
        {
          photoTitle: "Я ...",
          image: require('../assets/images/my-photo1.jpg'),
          photoId: 1
        },
        {
          photoTitle: "тоже я, 20 лет назад...)",
          image: require('../assets/images/my-photo2.jpg'),
          photoId: 2
        }
      ]
    }
  }
}
</script>

<style scoped>
.row {
  margin: 2em;
  height: auto;
}

.row img {
  max-height: 100%;
  width: 100%;
}
</style>
