<template>
  <div class="my-story">
    <h1>{{ title }}</h1>
    <p class="text">
      Путь к профессии программиста был долог и тернист) Электроника и компьютеры меня притягивали со школьной скамьи.
      После школы я отучился на наладчика электронных систем и автоматизированных линий в Брянском политехническом
      колледже и уже собирался идти на завод инженером, но судьба решила иначе.
    </p>
    <p class="text">
      Я поступил в Орловский Юридический Институт МВД РФ, который так же благополучно закончил и отправился работать в
      правоохранительные органы. Однако тяга к компьютерам и технике меня не отпускала.
    </p>
    <p class="text">
      Отработав три года я уволился со службы и устроился инженером эксплуатации в отдел по обслуживанию базовых станций
      сотовой связи одного местного оператора сотовой связи.
      Так я проработал в этой сфере порядка 10 лет, как инженер и как менеджер по строительству базовых станций.
      К концу указанного срока работа уже перестала приносить былую радость и даже стала местами утомлять и я
      определенно решил попробовать сменить профессию. Выбор пал на программиста.
    </p>
    <p class="text">
      Программирование мне нравилось всегда. В школьные годы я с удовольствием посещал кружки по программированию,
      далее в колледже продолжал заниматься самостоятельно. И даже работая менеджером, я с удовольствием писал макросы в
      Excell для автоматизации работы. Программирование это постоянное решение задач, нужно поломать голову,
      подумать над проблемой, найти решение. И если получается, и если решение красивое, то приятные ощущения не
      заставляют себя ждать)
    </p>
  </div>
</template>
<script>
export default {
  name: 'MyStory',
  data() {
    return {
      title: 'Почему я полюбил программирование'
    }
  }
}
</script>

<style scoped>
.text {
  text-align: justify;
  text-indent: 20px;
}
</style>
