<template>
  <div class="videos-container">
    <h1>{{ title }}</h1>
    <div class="row" v-for="(video, index) in videos" :key="index">
      <div class="col-md-6 offset-md-3">
        <video controls
               muted
               :poster="video.poster">
          <source :src="video.src" type="video/mp4"/>
          <p>
            Your browser doesn't support HTML5 video. Here is a
            <a :href="video.src">link to the video</a> instead.
          </p>
        </video>
        <h2>{{ video.title }}</h2>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Video',
  data() {
    return {
      title: 'Here you can find a video',
      videos: [
        {
          title: "Свойства CSS. Clip-path",
          src: require('../assets/videos/css-clip-path.mp4'),
          poster: require('../assets/videos/css-clip-path-poster.png'),
        }
      ]

    }
  }
}
</script>

<style scoped>
.row {
  margin: 2em;
  height: auto;
}

.row img {
  max-height: 100%;
  width: 100%;
}

video {
  width: inherit;
}
</style>>

